<form>
  <div >
    <div class="col-xs-3 col-xs-offset-4">
      <label>Login</label>
      <input class="form-control" type="text" name="login" [(ngModel)]="login" required>
    </div>
  </div>
  <div >
    <div class="col-xs-3 col-xs-offset-4" col-xs-offset-3>
      <label>Password</label>
      <input class="form-control" type="text" name="password" [(ngModel)]="password" required>
    </div>

  </div>

  <div class="col-xs-3 col-xs-offset-4" col-xs-offset-3>
     <button class="btn btn-primary" type="submit" (click)="onSubmit()">Sign In </button>
  </div>
</form>

<div *ngIf="user.type=='admin'">
    {{gotoSpaceAdmin()}}
</div>
<div *ngIf="user.type=='client'">
  {{gotoSpaceClient()}}
</div>



