
<div>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>

      <ul class='nav navbar-nav'>
        <li><a routerLink="/formClient">Add new client</a></li>
        <li><a routerLink="/clients">List client</a></li>
        <li><a routerLink="/formBook">Add new book</a></li>
        <li><a  routerLink="/books">List book</a></li>
        <li><a routerLink="/formAdmin">Add new admin</a></li>
        <li><a routerLink="/admins">List admin</a></li>
        <li><a routerLink="/statistic">statistic</a></li>
        <li><button class="btn btn-primary" (click)="goOut()" value="Log out" >Disconnect </button></li>
      </ul>
    </div>
  </nav>
</div>

