<h2>My Heroes</h2>

<ul class="books">
  <li *ngFor="let book of books" (click)="onSelect(book)" [class.selected]="book === selectedBook">
    <span class="book-element">
      <span class="badge">{{book.id}}</span> {{book.nameBook}}
    </span>
    <button class="delete-button" (click)="deleteBook(book, $event)">Delete</button>
  </li>
</ul>




<!--

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{bookTitle}}
    </div>

    <div class='panel-body'>

        <div class='table-responsive' *ngIf= 'books && books.length'>
            <table class='table'>
                <thead>
                   <tr>

                       <th> Name Book </th>
                       <th> Price </th>
                       <th> Quantity </th>
                       <th> Status </th>
                   </tr>
                </thead>
                <tbody>
                <tr *ngFor="let book of books">

                    <td>{{book.nameBook}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.quantity}}</td>
                    <td>{{book.status}}</td>
                </tr>

                </tbody>


            </table>



        </div>

    </div>

</div>
-->
