

<div class="container">
  <div class="row col-xs-10 col-xs-offset-1">
    <admin-space></admin-space>

<div >



  <table class="table">
    <thead>
    <tr>
      <th>Name Book</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Pages</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody *ngFor="let book of books">
    <tr>
      <td>{{book.nameBook}}</td>
      <td>{{book.price}}</td>
      <td>{{book.quantity}}</td>
      <td><button class="btn btn-default" value="Pages">Pages </button> </td>
      <td><button class="btn btn-primary" value="Update">Update </button> </td>
      <td><button class="btn btn-danger" value="Delete" (click)="deleteBook(book, $event)">Delete</button> </td>
    </tr>
    </tbody>
  </table>

</div>

  </div>
</div>


